* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

#root {
    width: 100%;
    max-width: 50em;
    min-width: 350px;
    margin: 1.5em auto;
}

#root > h1 {
    text-align: center;
    margin: 1rem 0;
    font-family: roboto;
    font-weight: lighter;
    color: #212128;
}

#root .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border: 2px solid rgba(66, 68, 90, 0.075);
    border-radius: 0.5em;
    padding: 0.5em 0.5em;
    user-select: none;
    margin-bottom: 3em;
    gap: 0.2em;
}

#root .container div {
    height: 120px;
    width: 120px;
    margin: 0.2em;
    background: rgba(66, 68, 90, 0);
    border: 2px solid rgba(0, 0, 0, 0.075);
    border-radius: 0.5em;
    cursor: pointer;

}

#root .container.blue div.selected {
    background: hsla(197, 100%, 76%, 0.05);
    border: 2px solid rgba(98, 155, 255, 0.85);
}

.selection-area {
    background: rgba(46, 115, 252, 0.11);
    border: 1px solid rgba(98, 155, 255, 0.85);
    border-radius: 0.5em;
}